body{
    margin: 0;
    background-color: rgb(167, 184, 202);
}

h1{
    margin-left: 5px;
    font-style: italic; 
}

header{
    background-color:peru;
    border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    height: 100px;
    width: 100px;
}

.interacciones{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 2px 0px 5px 0px;
    gap: 3px;
}

.interacciones a{
    font-family: "Rubik Mono One", monospace;
    text-decoration: none;
    color: white;
    border: 3px solid;
    border-radius: 9px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav a:hover{
    color: red;
}
