aside #der{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 453px;
}

aside #derh1{
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(100, 0, 255, 1);
    color: white;
    margin-bottom: 5px;
}

aside #derinput{
    padding: 10px;
    margin: 5px, 0;
    width: 176px;
}

a.botones:hover{
    background: rgba(100, 0, 255, 4);
}

a.botones:active{
    background: rgba(255, 0, 100, 1);
}